body {
  font-size: 20px;
  background: #009988;
  font-family: sans-serif;
  margin: 0; }

h1 {
  text-align: center;
  display: block;
  margin: 0;
  padding: 20px 0;
  color: #fff; }

.bin {
  background: #009988; }

.tabbar {
  width: 100vw;
  background: #009988;
  z-index: -1;
  border-top: 10px solid #009988; }

.tabs {
  width: 400px;
  margin: 0 auto;
  background: #009988;
  margin-top: -10px; }

.tab {
  width: 200px;
  display: inline-block;
  border-top: 10px solid #009988;
  text-align: center;
  padding: 10px 0;
  font-size: 22px;
  color: #fff;
  cursor: default;
  transition: all 0.1s linear; }

.tab.selected {
  border-top: 10px solid #f67;
  background: #fff;
  color: #009988; }

.list {
  width: 700px;
  margin: 0 auto;
  background: #fff;
  padding: 1px 0; }

.el {
  padding: 5px 10px;
  margin: 10px;
  display: block;
  color: #222;
  text-decoration: none; }

.description {
  font-size: 16px;
  padding: 7px 0 0 0; }

.col {
  width: 700px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: calc(100vw/2 - 700px/2);
  background: #fff;
  z-index: -1; }
