body {
	font-family: arial;
	color: #333;
	background-color: #eee;
}

h1 {
	margin: 0;
	line-height: 1em;
}

.fat {
	display: block;
	width: 70vw;
	height: 50vh;
	margin: auto;
	background-color: #00f;
	font-size: 40vh;
	color: #fff;
	text-decoration: none;
	text-align: center;
}
